body {
    background-color: darkgray;
}

h1 {
    text-align: center;
}

#MovieListContainer {
    background-color: lightgray;
    display: block;
    border: black 2px solid;
    margin-top: 20px;
    width: 35%;
    height: 800px;
    float: left;
}

#CalendarContainer {
    background-color: lightgray;
    display: flex;
    border: black 2px solid;
    margin-top: 20px;
    width: 60%;
    height: 400px;
    float: right;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.MovieItem {
    border: black 1px solid;
    font-size: 20px;
    margin: 10px;
}

#EventsListContainer {
    font-size: 20px;
    background-color: lightgray;
    display: block;
    border: black 2px solid;
    margin-top: 30px;
    width: 60%;
    height: 360px;
    float: right;
}


.CalendarItem {
    margin-left: 5px;
    margin-top: 10px;
    width: calc(85%/7);
    height: 40px;
    border: 1px solid black;
    text-align: center;
    line-height: 40px;
}

.EventItem {
    display: block;
    border: black 1px solid;
    font-size: 20px;
    margin: 5px;
}

.hidden {
  display: none;
}
.visible {
margin-left: 10px;
  display: block;
}

#eventForm {
  display: block;
}


body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    text-align: center;
}

.loading {
    text-align: center;
    font-size: 20px;
}

.error {
    color: red;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f0f0f0;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}

#Showcreateeventform {
    margin-left: 10px;
    font-size: 16px;
    cursor: pointer;
}